<h1 align="center"><%= @category.name + " " + "Article".pluralize(@category_articles.count)%></h1>

<% if logged_in? && current_user.admin? %>
    <!-- Edit category button -->
    <div class="row justify-content-center">
        <span class="btn btn-primary btn-sm" id="category-edit"><%= link_to "Edit this category", edit_category_path(@category) %></span>
    </div>
    <br />
<% end %>
    
<% if @category_articles.any? %>
    <!-- Display articles for this category -->
    <div class="pagination justify-content-center">
        <%= will_paginate @category_articles %>
    </div>
    
    <%= render 'articles/article', obj: @category_articles %>
    
    <div class="pagination justify-content-center">
        <%= will_paginate @category_articles %>
    </div>

<% else %>
    <!-- No articles for this category -->
    <br />
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card text-white bg-warning mb-3">
                <div class="card-body">
                    <h5 class="center">Sorry, no articles exist yet under this category.</h5>
                </div>
            </div>
        </div>
    </div>
<% end %>